/* VARIABLES Y RESET */
body {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

/* UTILIDADES */




/* HEADER */

.Header {
    position: fixed;   
    top: 0;                          
    left: 0;
    width: 100%;        
    z-index: 50;

    background-color: #333;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.Logo{
    height: 25px;
    margin-bottom: 10px;

    margin-bottom: 15px;
}

.Nav-links {
    list-style: none;
    margin: 0;
    padding: 0;

    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
    flex-wrap: wrap;
    min-width: 0;
}

.Nav-link-text {
    text-decoration: none;
    color: white;
    font-size: 18px;
}


.Presentacion {
    margin-top: 120px;
    padding: 20px;
    text-align: center;
}
