
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}
/* VARIABLES Y RESET */
body {
    margin: 0;
    padding: 0;

    background-color: #F5E9E2;
}
* {
    box-sizing: border-box;

    font-family: "Lora", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;

    text-align: center;
}


/* UTILIDADES */


/* HEADER */

.Header {
    position: fixed;   
    top: 0;                          
    left: 0;
    width: 100%; 
    height: 60px;       
    z-index: 40;
    padding: 10px;

    border-radius: 0 0 5px 5px;

    background-color: #2F2F2F;
    color: white;

    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 0 2px 10px #000000c0;
}

.container {
    grid-template-columns: 0.2fr 1.4fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:". .";
    display: grid;
    place-items: center;
}

.Logo-image {
    height: 40px;
    display: grid;
    place-items: center;
}

.Nav-links {
    list-style: none;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
    width: 100%;
    flex-wrap: wrap;
    padding: 0;
}

.Nav-link-text {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family:"Roboto", sans-serif;
}



/* PRESENTACION */

.Presentacion {
    background-image: url(Imagenes/piedra\ laja.jpg);
    height: 100vh;
    width: 100%;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;

    animation: aparecer 0.6s linear both;
}

.Presentacion-contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;

}

.Presentacion-texto{
    color: white;
    font-size: 24px;
    margin-bottom: 6vh;

    background-color: #1b1b1b75;
    border-radius: 10px;
    padding: 10px;

    font-weight:    bold;


}

.Presentacion-subtexto {
    color: white;
    font-size: 19px;

    background-color: #1b1b1b48;
    border-radius: 10px;
    padding: 10px;
}


.Presentacion-boton {
    
    margin-top: 100px;
}
.Presentacion-boton:hover {
    transform: scale(1.04);
    transition: transform 0.5s ease;
    box-shadow: 0 4px 8px #00000070;
}

.Presentacion-boton-text {
    color: #2B2B2B;
    padding: 0;
    text-decoration: none;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-top: px;
    font-weight: bold;
}





/* CATALOGO */
.Catalogo{
    animation: aparecer 0.6s linear both;
}


h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
}

.img-catalogo {
    width: 100%;
    height: auto;

    border-radius: 8px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;

    flex-direction: row;
}

.product-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 5px #00000038;

    margin: 10px 10px;

    color:#3C3C3C;
}

/* GALERIA */
.Galeria{
    animation: aparecer 0.6s linear both;
}


.Galeria-imagenes{
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    grid-template-rows: repeat(4, 2fr);
    margin: 10px;
    gap: 10px;
}

.texto-galeria{
    padding: 20px;
    text-align: center;

    
    background-color: #fff;
    box-shadow: 0 2px 5px #00000038;
}


.img-galeria{
    width: 100%;
    height: 16rem;      
    object-fit: cover;

    background-color: #fff;
    border: 2px solid #d4d4d4;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 5px #00000038;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.8);
}

@keyframes aparecer {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    50% {
        opacity: 0.3;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  
}
/* SOBRE NOSOTROS*/
.Sobre_nosotros{
    animation: aparecer 0.6s linear both;
}

.direccion-nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 20px;
}


.img-sobre-nosotros{
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.texto-sobre-nosotros {
    text-align: center;
    margin: 10px 0;
    text-align: center;
}


.Sobre-nosotros-contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 10px;
}



/* CONTACTO */


.Contacto {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px #00000038;

    animation: aparecer 0.6s linear both;
}

.Contacto-boton {
    background-color: #3F885F;
    text-decoration: none;
    border-radius: 45px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.icono-whatsapp {
    width: 1.8em;
    height: 1.8em;
    margin-right: 0;
    object-fit: contain;
}




.Redes-sociales {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 1.9rem;
}

.icono-contacto {
    vertical-align: middle;


    width: 1.4em;
    height: 1.4em;
    object-fit: contain;
}








.loop-wrapper {
  margin: 0 auto;
  position: relative;
  display: block;
  width: 300px;
  height: 150px;
  overflow: hidden;
  border-bottom: 3px solid #fff;
  color: #fff;
}
.mountain {
  position: absolute;
  right: -900px;
  bottom: -20px;
  width: 2px;
  height: 2px;
  box-shadow: 
    0 0 0 50px #4DB6AC,
    60px 50px 0 70px #4DB6AC,
    90px 90px 0 50px #4DB6AC,
    250px 250px 0 50px #4DB6AC,
    290px 320px 0 50px #4DB6AC,
    320px 400px 0 50px #4DB6AC
    ;
  transform: rotate(130deg);
  animation: mtn 20s linear infinite;
}
.hill {
  position: absolute;
  right: -900px;
  bottom: -50px;
  width: 400px;
  border-radius: 50%;
  height: 20px;
  box-shadow: 
    0 0 0 50px #4DB6AC,
    -20px 0 0 20px #4DB6AC,
    -90px 0 0 50px #4DB6AC,
    250px 0 0 50px #4DB6AC,
    290px 0 0 50px #4DB6AC,
    620px 0 0 50px #4DB6AC;
  animation: hill 4s 2s linear infinite;
}
.tree, .tree:nth-child(2), .tree:nth-child(3) {
  position: absolute;
  height: 100px; 
  width: 35px;
  bottom: 0;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130015/tree.svg) no-repeat;
}
.rock {
  margin-top: -17%;
  height: 2%; 
  width: 2%;
  bottom: -2px;
  border-radius: 20px;
  position: absolute;
  background: #ddd;
}
.truck, .wheels {
  transition: all ease;
  width: 85px;
  margin-right: -60px;
  bottom: 0px;
  right: 50%;
  position: absolute;
  background: #000000;
}
.truck {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130015/truck.svg) no-repeat;
  background-size: contain;
  height: 60px;
}
.truck:before {
  content: " ";
  position: absolute;
  width: 25px;
  box-shadow:
    -30px 28px 0 1.5px #fff,
     -35px 18px 0 1.5px #fff;
}
.wheels {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130015/wheels.svg) no-repeat;
  height: 15px;
  margin-bottom: 0;
}

.tree  { animation: tree 3s 0.000s linear infinite; }
.tree:nth-child(2)  { animation: tree2 2s 0.150s linear infinite; }
.tree:nth-child(3)  { animation: tree3 8s 0.050s linear infinite; }
.rock  { animation: rock 4s   -0.530s linear infinite; }
.truck  { animation: truck 4s   0.080s ease infinite; }
.wheels  { animation: truck 4s   0.001s ease infinite; }
.truck:before { animation: wind 1.5s   0.000s ease infinite; }


@keyframes tree {
  0%   { transform: translate(1350px); }
  50% {}
  100% { transform: translate(-50px); }
}
@keyframes tree2 {
  0%   { transform: translate(650px); }
  50% {}
  100% { transform: translate(-50px); }
}
@keyframes tree3 {
  0%   { transform: translate(2750px); }
  50% {}
  100% { transform: translate(-50px); }
}

@keyframes rock {
  0%   { right: -200px; }
  100% { right: 2000px; }
}
@keyframes truck {
  0%   { }
  6%   { transform: translateY(0px); }
  7%   { transform: translateY(-6px); }
  9%   { transform: translateY(0px); }
  10%   { transform: translateY(-1px); }
  11%   { transform: translateY(0px); }
  100%   { }
}
@keyframes wind {
  0%   {  }
  50%   { transform: translateY(3px) }
  100%   { }
}
@keyframes mtn {
  100% {
    transform: translateX(-2000px) rotate(130deg);
  }
}
@keyframes hill {
  100% {
    transform: translateX(-2000px);
  }
}


/* FOOTER */
footer {
    background-color: #2F2F2F;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    border-radius: 5px 5px 0 0;
}



/* ANIMACIONES*/
.scroll-animate {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.6s ease-out;
}

.scroll-animate.visible {
    opacity: 1;
    transform: translateY(0);
}

@keyframes aparecer {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    50% {
        opacity: 0.3;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


    /* Estilo para el texto con degradado animado */
    .gradient-text {
      font-size: 48px;
      font-weight: bold;
      background: linear-gradient(90deg, #FE5900, #F9A873, #B6855D, #FE5900);
      background-size: 300% 300%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: moveGradient 5s ease infinite alternate;
    }

    @keyframes moveGradient {
      0% { background-position: 0% 50%; }
      100% { background-position: 100% 50%; }
    }




