/* VARIABLES Y RESET */
body {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

/* UTILIDADES */




/* HEADER */

.Header {
    position: fixed;   
    top: 0;                          
    left: 0;
    width: 100%;        
    z-index: 1000;

    background-color: #333;
    color: white;
    padding: 10px 40px;  
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Logo img {
    height: 40px;
}


.Nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.Nav-link-text {
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: color 0.3s ease;
}




.Presentacion {
    margin-top: 80px;
    padding: 20px;
    text-align: center;
}